name: C++ CI

on: [push, pull_request]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -D CMAKE_BUILD_TYPE=Debug

      - name: Build project
        run: cmake --build build --parallel 2

      - name: Run tests
        run: ctest --test-dir build -C Debug --output-on-failure